*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face{
    font-family: Gilroy;
    src: url("fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: Gilroy;
    src: url("fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: Gilroy;
}

.center{
    padding-left: calc(50% - 596px);
    padding-right: calc(50% - 596px);
}

.header{
    background: #FFFFFF;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 100px 0;
}

.header__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 310px;
    padding: 40px 31px 25px 29px;
}

.header__item:hover{
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.header_icon{
    display: block;
}

.header__icon1{
    background: rgba(242, 88, 34, 0.25);
    border-radius: 15px;    
    padding: 23px 21px 22px ;
}

.header__icon2{
    background: rgba(20, 146, 17, 0.28);
    border-radius: 15px;    
    padding: 23px 22px 22px 23px;
}

.header__icon3{
    background: rgba(255, 205, 29, 0.24);
    border-radius: 15px;    
    padding: 27px 24px 24px 27px;
}

.header__title{
    margin-top: 25px;
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 600;
}

.header__text{
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    font-weight: 400;
}

.header__read{
    display: block;
    font-size: 11px;
    line-height: 150%;
    color: #000000;
    font-weight: 600;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 100px;
}

.content__title{
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 19px;
}

.content__text{
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    font-weight: 400;
    margin-bottom: 55px;
    max-width: 682px;
}

.content__info{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.info__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    padding-bottom: 50px;
    max-width: 370px;
}

.info__item:hover{
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.info__item-img{
    max-width: inherit;
    height: 289px;
}

.info__item-title{
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 600;
}

.info__item-text{
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
    font-weight: 400;
    max-width: 310px;
    margin-top: 22px;
    margin-bottom: 39px;
}

.info__item-btn{
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    padding: 15px 36px 15px 46px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
}

.info__item-btn>span{
    margin-left: 6px;
}